@page
@model SCMS.RazorWebApp.TienPVK.Pages.ClubsTienPvks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClubsTienPvk</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.ClubCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.ClubCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.ClubName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.ClubName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.FoundedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.FoundedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.MemberLimit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.MemberLimit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.IsOpenToJoin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.IsOpenToJoin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.RequiresApproval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.RequiresApproval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.ModifiedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.ModifiedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.CategoryIdtienPvkNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.CategoryIdtienPvkNavigation.CategoryCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubsTienPvk.ManagerUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubsTienPvk.ManagerUser.Email)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ClubsTienPvk.ClubIdtienPvk" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <input type="button" id="btnHubDelete" value="Delete by SignalR" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/clubHub")
        .configureLogging(signalR.LogLevel.None) // Off logging; change to Information for debugging
        .build();

    connection.on("DeleteClub", function (clubId)
    {
        console.log("Club deleted successfully, redirecting...");
        // Redirect to Index page after receiving confirmation
        window.location.href = "/ClubsTienPvks/Index";
    });

    connection.start().then(function ()
    {
        document.getElementById("btnHubDelete").disabled = false;
    }).catch(function (err)
    {
        return console.error("error on start:" + err.toString());
    });

    document.getElementById("btnHubDelete").addEventListener("click", function (event)
    {
        var obj = document.getElementById("ClubsTienPvk_ClubIdtienPvk").value;
        connection.invoke("DeleteClub", obj).then(function ()
        {
            console.log("Delete successful, redirecting...");
        }).catch(function (err)
        {
            console.error("Action fail:", err.toString());
        });
        event.preventDefault();
    });

</script>