@page "/clubstienpvks/delete"
@using Microsoft.EntityFrameworkCore
@using SCMS.Domain.TienPVK.Models
@using SCMS.Service.TienPVK
@inject AppServiceProvider _service;
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>ClubsTienPvk</h2>
    <hr />
    @if (clubstienpvk is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ClubCode</dt>
            <dd class="col-sm-10">@clubstienpvk.ClubCode</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ClubName</dt>
            <dd class="col-sm-10">@clubstienpvk.ClubName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CategoryIdtienPvk</dt>
            <dd class="col-sm-10">@clubstienpvk.CategoryIdtienPvk</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@clubstienpvk.Description</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">FoundedDate</dt>
            <dd class="col-sm-10">@clubstienpvk.FoundedDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@clubstienpvk.Email</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Phone</dt>
            <dd class="col-sm-10">@clubstienpvk.Phone</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@clubstienpvk.Address</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ManagerUserId</dt>
            <dd class="col-sm-10">@clubstienpvk.ManagerUserId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">MemberLimit</dt>
            <dd class="col-sm-10">@clubstienpvk.MemberLimit</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsOpenToJoin</dt>
            <dd class="col-sm-10">@clubstienpvk.IsOpenToJoin</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">RequiresApproval</dt>
            <dd class="col-sm-10">@clubstienpvk.RequiresApproval</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@clubstienpvk.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@clubstienpvk.CreatedAt</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@clubstienpvk.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ModifiedBy</dt>
            <dd class="col-sm-10">@clubstienpvk.ModifiedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ModifiedAt</dt>
            <dd class="col-sm-10">@clubstienpvk.ModifiedAt</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsDeleted</dt>
            <dd class="col-sm-10">@clubstienpvk.IsDeleted</dd>
        </dl>
        <EditForm method="post" Model="clubstienpvk" OnValidSubmit="DeleteClubsTienPvk" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(clubstienpvk is null)">Delete</button> |
            <a href="/clubstienpvks">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private ClubsTienPvk? clubstienpvk;

    [SupplyParameterFromQuery]
    private int ClubIdtienPvk { get; set; }

    protected override async Task OnInitializedAsync()
    {
        clubstienpvk = await _service.ClubService.GetByIdAsync(ClubIdtienPvk);

        if (clubstienpvk is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteClubsTienPvk()
    {
        try
        {

            await _service.ClubService.DeleteAsync(clubstienpvk!.ClubIdtienPvk);
            NavigationManager.NavigateTo("/clubstienpvks");
        }
        catch (Exception ex)
        {
            // Log the exception (dbEx) as needed
            // Show a user-friendly error message
            return;
        }
    }
}
