@page "/clubstienpvks/details"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using SCMS.Domain.TienPVK.Models
@using SCMS.Service.TienPVK
@inject AppServiceProvider Service;
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>ClubsTienPvk</h2>
    <hr />
    @if (clubstienpvk is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Club Code</dt>
            <dd class="col-sm-10">@clubstienpvk.ClubCode</dd>
            <dt class="col-sm-2">Club Name</dt>
            <dd class="col-sm-10">@clubstienpvk.ClubName</dd>
            <dt class="col-sm-2">CategoryIdtienPvk</dt>
            <dd class="col-sm-10">@clubstienpvk.CategoryIdtienPvk</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@clubstienpvk.Description</dd>
            <dt class="col-sm-2">Founded Date</dt>
            <dd class="col-sm-10">@clubstienpvk.FoundedDate</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@clubstienpvk.Email</dd>
            <dt class="col-sm-2">Phone</dt>
            <dd class="col-sm-10">@clubstienpvk.Phone</dd>
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@clubstienpvk.Address</dd>
            <dt class="col-sm-2">Manager User Id</dt>
            <dd class="col-sm-10">@clubstienpvk.ManagerUserId</dd>
            <dt class="col-sm-2">Member Limit</dt>
            <dd class="col-sm-10">@clubstienpvk.MemberLimit</dd>
            <dt class="col-sm-2">Is Open To Join</dt>
            <dd class="col-sm-10">@clubstienpvk.IsOpenToJoin</dd>
            <dt class="col-sm-2">Requires Approval</dt>
            <dd class="col-sm-10">@clubstienpvk.RequiresApproval</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@clubstienpvk.Status</dd>
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@clubstienpvk.CreatedAt</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@clubstienpvk.CreatedBy</dd>
            <dt class="col-sm-2">Modified By</dt>
            <dd class="col-sm-10">@clubstienpvk.ModifiedBy</dd>
            <dt class="col-sm-2">Modified At</dt>
            <dd class="col-sm-10">@clubstienpvk.ModifiedAt</dd>
        </dl>
        <div>
            <a href="@($"/clubstienpvks/edit?clubidtienpvk={clubstienpvk.ClubIdtienPvk}")">Edit</a> |
            <a href="@($"/clubstienpvks")">Back to List</a>
        </div>
    }
</div>

@code {
    private ClubsTienPvk? clubstienpvk;

    [SupplyParameterFromQuery]
    private int ClubIdtienPvk { get; set; }

    protected override async Task OnInitializedAsync()
    {
        clubstienpvk = await Service.ClubService.GetByIdAsync(ClubIdtienPvk);

        if (clubstienpvk is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
