@page "/clubstienpvks/details"
@using Microsoft.EntityFrameworkCore
@using SCMS.Domain.TienPVK.Models
@inject IDbContextFactory<SCMS.Repository.TienPVK.DBContext.FA25_PRN222_3W_PRN222_01_G5_SCMSDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>ClubsTienPvk</h2>
    <hr />
    @if (clubstienpvk is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ClubCode</dt>
            <dd class="col-sm-10">@clubstienpvk.ClubCode</dd>
            <dt class="col-sm-2">ClubName</dt>
            <dd class="col-sm-10">@clubstienpvk.ClubName</dd>
            <dt class="col-sm-2">CategoryIdtienPvk</dt>
            <dd class="col-sm-10">@clubstienpvk.CategoryIdtienPvk</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@clubstienpvk.Description</dd>
            <dt class="col-sm-2">FoundedDate</dt>
            <dd class="col-sm-10">@clubstienpvk.FoundedDate</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@clubstienpvk.Email</dd>
            <dt class="col-sm-2">Phone</dt>
            <dd class="col-sm-10">@clubstienpvk.Phone</dd>
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@clubstienpvk.Address</dd>
            <dt class="col-sm-2">ManagerUserId</dt>
            <dd class="col-sm-10">@clubstienpvk.ManagerUserId</dd>
            <dt class="col-sm-2">MemberLimit</dt>
            <dd class="col-sm-10">@clubstienpvk.MemberLimit</dd>
            <dt class="col-sm-2">IsOpenToJoin</dt>
            <dd class="col-sm-10">@clubstienpvk.IsOpenToJoin</dd>
            <dt class="col-sm-2">RequiresApproval</dt>
            <dd class="col-sm-10">@clubstienpvk.RequiresApproval</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@clubstienpvk.Status</dd>
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@clubstienpvk.CreatedAt</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@clubstienpvk.CreatedBy</dd>
            <dt class="col-sm-2">ModifiedBy</dt>
            <dd class="col-sm-10">@clubstienpvk.ModifiedBy</dd>
            <dt class="col-sm-2">ModifiedAt</dt>
            <dd class="col-sm-10">@clubstienpvk.ModifiedAt</dd>
            <dt class="col-sm-2">IsDeleted</dt>
            <dd class="col-sm-10">@clubstienpvk.IsDeleted</dd>
        </dl>
        <div>
            <a href="@($"/clubstienpvks/edit?clubidtienpvk={clubstienpvk.ClubIdtienPvk}")">Edit</a> |
            <a href="@($"/clubstienpvks")">Back to List</a>
        </div>
    }
</div>

@code {
    private ClubsTienPvk? clubstienpvk;

    [SupplyParameterFromQuery]
    private int ClubIdtienPvk { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        clubstienpvk = await context.ClubsTienPvks.FirstOrDefaultAsync(m => m.ClubIdtienPvk == ClubIdtienPvk);

        if (clubstienpvk is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
