@page
@model ChargingManagement_PhanVuKhanhTien.Pages.ChargingSessions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChargingSession[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargingSession[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargingSession[0].KwhConsumed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargingSession[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargingSession[0].Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargingSession[0].Station)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChargingSession) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KwhConsumed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Station.StationName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SessionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SessionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SessionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
