@page
@model LionPetManagement_PhanVuKhanhTien.Pages.LionProfiles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LionProfile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.LionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.LionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.Characteristics)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.Characteristics)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.Warning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.Warning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.LionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.LionType.LionTypeId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="LionProfile.LionProfileId" />
        <input type="submit" id="btnHubDelete" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/LionHub").build();

    connection.start()
    .then(() => { console.log("Connected to the SignalR Hub");})
    .catch((err) => { console.error(err.toString());});

    // Listen for successful delete
    connection.on("Receiver_Delete", function (LionProfileId) {
        console.log("Delete successful for ID:", LionProfileId);
        window.location.href = '/LionProfiles/Index';
    });

    // Listen for failed delete
    connection.on("Receiver_DeleteFailed", function (errors) {
        console.error("Delete failed:", errors);
        alert("Delete failed: " + errors.join(", "));
    });

    document.getElementById("btnHubDelete").addEventListener("click", function (event) {
        event.preventDefault();

        if (!confirm("Are you sure you want to delete this item?")) {
            return;
        }

        const id = document.getElementById("LionProfile_LionProfileId").value;

        connection.invoke("HubDelete", id)
            .catch((err) => { 
                console.error("Error invoking hub method:", err.toString());
                alert("Error: " + err.toString());
            });
    });
</script>
