@page
@model LionPetManagement_PhanVuKhanhTien.Pages.LionProfiles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <a asp-page="Search">Search</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LionProfile[0].LionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LionProfile[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LionProfile[0].Characteristics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LionProfile[0].Warning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LionProfile[0].ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LionProfile[0].LionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <!-- #region tableBody-->

    <tbody id="idTableBody">

    <!-- #endregion -->
@foreach (var item in Model.LionProfile) {
        <!-- #region rowItem-->

        <tr class="js-pagination-item" id="@item.LionProfileId">

         <!-- #endregion -->
            <td>
                @Html.DisplayFor(modelItem => item.LionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Characteristics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LionType.LionTypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LionProfileId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LionProfileId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LionProfileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Lion profiles pagination" class="mt-4">
    <ul class="pagination justify-content-center js-pagination">
        <li class="page-item disabled prev">
            <button class="page-link" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">&laquo;</span> Previous
            </button>
        </li>
        <li class="page-item active number" data-pagination="1">
            <button class="page-link">1</button>
        </li>
        <li class="page-item number-first" style="display: none;">
            <span class="page-link">...</span>
        </li>
        <li class="page-item number" data-pagination="2">
            <button class="page-link">2</button>
        </li>
        <li class="page-item number-last">
            <span class="page-link">...</span>
        </li>
        <li class="page-item number" data-pagination="10">
            <button class="page-link">10</button>
        </li>
        <li class="page-item next">
            <button class="page-link">Next <span aria-hidden="true">&raquo;</span></button>
        </li>
    </ul>
</nav>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/pagination.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    // Paging
    $(document).ready(function() {
        generatePagination('.js-pagination', '.js-pagination-item', 3, 'Prev', 'Next');
    });
    // SignalR
    "use strict";

    const connection = new signalR.HubConnectionBuilder().withUrl("/LionHub").build();

    connection.start()
        .then(() => { console.log("Connected to the SignalR Hub");})
        .catch(err => console.error(err.toString()));


    connection.on("Receiver_Delete", function (LionProfileId) {
        $('#idTableBody').find(`tr[id='${LionProfileId}']`).fadeOut('slow', function() { $(this).remove(); });
    });
</script>